# Forces people to npm install to prevent weird errors
*/node_modules

# Makes sure no databases/images are pushed/pulled
src/db/*.jdb
src/public/images/user/*.png

# Tries to prevent merge conflicts
src/config.json
