@font-face {
    font-family: Inter;
    src: url('../fonts/Inter.ttf');
}

:root {
    --lapis-lazuli: #255780ff;
    --prussian-blue: #16324fff;
    --oxford-blue: #0d1e30ff;
}

body {
    margin: 0;
}

titlebar {
    width: calc(100vw - 15px);
    height: 80px;
    background-color: var(--lapis-lazuli);
    display: block;
    display: flex;
    align-items: center;
    padding-left: 15px;
    box-shadow: 0px 0px 0px 2px black;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 100;
}

titlebar * {
    color: white !important;
}

pad {
    padding: 10px;
}

body {
    background-color: var(--oxford-blue);
    color: white;
    margin-top: 80px;
}

.content {
    height: calc(100vh - 80px);
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    min-height: 50%;
    max-height: fit-content;
    padding: 20px;
    border-radius: 10px;
    background-color: var(--lapis-lazuli);
    position: relative;
    box-shadow: 0px 0px 0px 2px black;
}

input[type="text"], input[type="password"] {
    background-color: var(--prussian-blue);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    outline: none;
    box-shadow: 0px 0px 0px 2px black;
    width: calc(100% - 20px);
}

button,
input[type="submit"] {
    border: none;
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
    color: white;
    background-color: var(--lapis-lazuli);
    transform: translateY(-10px);
    box-shadow: 0px 10px 0px 0px var(--prussian-blue), 0px 0px 0px 2px black, 0px 10px 0px 2px black;
    transition-duration: 0.2s;
}

button:hover,
input[type="submit"]:hover {
    background-color: var(--prussian-blue);
    box-shadow: 0px 10px 0px 0px var(--oxford-blue), 0px 0px 0px 2px black, 0px 10px 0px 2px black;
}

button:active,
input[type="submit"]:active {
    background-color: var(--prussian-blue);
    transform: translateY(-5px);
    box-shadow: 0px 5px 0px 0px var(--oxford-blue), 0px 0px 0px 2px black, 0px 5px 0px 2px black;
}

button#create,
input[type="submit"]#create {
    position: absolute;
    right: 20px;
    bottom: 20px;
    font-weight: bold;
}

button.minimal {
    background-color: rgba(0, 0, 0, 0) !important;
    box-shadow: none !important;
    padding: 0 !important;
    transform: none !important;
}

#img-select {
    display: none;
}

.select-img {
    aspect-ratio: 1 / 1;
    border-radius: 5px;
    width: calc(100%);
    box-shadow: 0px 0px 0px 2px black;
    background-position: 0% 0%;
    background-size: cover;
    background-color: var(--prussian-blue);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

subtext {
    font-size: 0.5rem;
}

.img-prev {
    width: 25vw;
    height: 25vw;
}

.center-middle {
    text-align: center;
}

* {
    font-family: Inter, sans-serif;
}


minidenticon-svg svg {
    border-radius: 50%;
    background-color: rgb(219, 219, 219);
    height: 48px;
    width: 48px;
}